{
    "queueRunner": {
        "active": false,
        "statusCheckWaitSeconds": 30,
        "postTriggerWaitSeconds": 120
    },
    "notificationRunner": {
        "active": true,
        "stop": false,
        "checkWaitSeconds": 60,
        "serverConsistentStateWait": 180,
        "triggerUrl": "---INSERT POWERAUTOMATE TRIGGER URL FOR NOTIFICATIONS---"
    },
    "mainRunner": {
        "waitTime": 5,
        "shareDataFolderPath": "---INSERT FOLDER PATH SHARED BETWEEEN APPLICATION AND DATA LAYER---"
    }
}